body {
	font-family: Open Sans, sans-serif;
	margin-top: 200px;
	text-align: center;
}

#clock {
	font-size: 77px;
	color: #FFF;
	font-family: Open Sans, sans-serif;
}

#hex-color {
 	font-size: 30px;
	color: #FFF;
	font-family: Open Sans, sans-serif;
}
